<div ng-controller="AppCtrl">
  <md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <ct-button>{{title1}}</ct-button>
      <ct-button md-no-ink class="md-primary">Primary (md-noink)</ct-button>
      <ct-button ng-disabled="true" class="md-primary">Disabled</ct-button>
      <ct-button class="md-warn">{{title4}}</ct-button>
      <div class="label">Flat</div>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <ct-button class="md-raised">Button</ct-button>
      <ct-button class="md-raised md-primary">Primary</ct-button>
      <ct-button ng-disabled="true" class="md-raised md-primary">Disabled</ct-button>
      <ct-button class="md-raised md-warn">Warn</ct-button>
      <div class="label">Raised</div>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <ct-button ng-href="{{googleUrl}}" target="_blank">Default Link</ct-button>
      <ct-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Primary Link</ct-button>
      <div class="label">Link vs. Button</div>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <ct-button class="md-primary md-hue-1">Primary Hue 1</ct-button>
      <ct-button class="md-warn md-raised md-hue-2">Warn Hue 2</ct-button>
      <ct-button class="md-accent">Accent</ct-button>
      <ct-button class="md-accent md-raised md-hue-1">Accent Hue 1</ct-button>
      <div class="label">Themed</div>
    </section>
  </md-content>
</div>
