
<div ng-controller="AppCtrl">

  <md-content class="md-padding">

    <ct-card>
      <img class='ct-card-image' ng-src="{{imagePath}}" alt="Your pet!">
      <ct-card-content>
        <h2 class="ct-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </ct-card-content>
      <div class="ct-actions" layout="row" layout-align="end center">
        <ct-button>Action 1</ct-button>
        <ct-button>Action 2</ct-button>
      </div>
    </ct-card>
    <br/>

    <ct-card>
      <img ng-src="{{imagePath}}" class="ct-card-image" alt="Washed Out">
      <ct-card-content>
        <h2 class="ct-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </ct-card-content>
    </ct-card>
    <br/>

    <ct-card>
      <img ng-src="{{imagePath}}" class="ct-card-image" alt="Washed Out">
      <ct-card-content>
        <h2 class="ct-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </ct-card-content>
    </ct-card>
  </ct-content>
</div>
